<p>my-input-component works!</p>
<input class="input-form" type="text" [(ngModel)]="username" >
<button class="btn btn-primary" [disabled]="isInputTextEmpty()" (click)="clearTextInput()">Send</button>
<label [innerText]="username"></label>